<form #searchValidation = "ngForm" (ngSubmit)="triData()">
  <label>Choix de la marque</label>
  <select (change)="filterModel($event)" [(ngModel)]="marque" name="marque">
    <option [value]="'no-data'">Toutes les marques</option>
    <option *ngFor="let marqueFor of marques" [value]="marqueFor.nom">{{ marqueFor.nom }}</option>
  </select>

  <label>Choix du modèle</label>
  <select>
    <option selected>Tous les modèles</option>
    <option *ngFor="let voiture of vehiculs">{{ voiture.model }}</option>
  </select>
</form>

<h1>Les véhcules</h1>
<table>
  <thead>
  <th>modele</th>
  <th>Kilometrage</th>
  <th>Année mise en circulation</th>
  </thead>
  <tbody>
    <tr *ngFor="let voiture of vehiculs">
      <td>{{ voiture.model }}</td>
      <td>{{ voiture.kilometrage }}</td>
      <td>{{ voiture.miseEnCirculation|date: 'dd/MM/yyyy' }}</td>
    </tr>
  </tbody>
</table>
